
.root {
    -fx-background-color: #0094FF;
}


.card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 4);
}


.text-field, .password-field {
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-padding: 10 12;
    -fx-font-size: 14px;
}

.text-field:focused, .password-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #0094FF;
    -fx-border-width: 2;
}


.button-login {
    -fx-background-color: #0094FF;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10;
}

.button-login:hover {
    -fx-background-color: #007bd6;
}

.split-menu-button {
    -fx-background-color: #0094FF;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 2);
    -fx-border-color: transparent;
}

.split-menu-button:hover {
    -fx-background-color: #007bd6;
}

.split-menu-button:pressed {
    -fx-background-color: #0061a8;
}


.split-menu-button .arrow {
    -fx-background-color: white;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}

